/**
 * Composition styles
 */

/**
 * Utility styles
 */

/**
 * Block styles
 */
.overview {
  height: 100vh;
  padding-top: 25vh;
  text-align: center;
}

.overview > h1 {
  font-size: var(--step-1);
  font-weight: normal;
}

.overview > .summary {
  font-size: var(--step-5);
  font-weight: bold;
}

.button {
  align-items: center;
  background-color: #2C7A7B;
  box-shadow: 5px 5px rgba(0,0,0,0.6);
  border-radius: 0.5em;
  color: white;
  display: inline-flex;
  font-size: var(--step--1);
  font-weight: bold;
  padding: var(--step--2) var(--step--1);
  text-decoration: none;
  text-transform: uppercase;
}

.details-link {
  margin-top: var(--step-1);
}

.details-link > img {
  height: 0.75em;
  margin-left: 1ch;
}

.experience {
  align-items: flex-start;
  display: flex;
  padding: var(--step-0);
}

.photo {
  border-radius: 1em;
  margin-right: var(--step-0);
}

/**
 * Exception styles
 */
[data-status="open"] {
  background-color: #C6F6D5;
}

[data-status="partially-open"] {
  background-color: #FEFCBF;
}

[data-status="closed"] {
  background-color: #FED7D7;
}
