/**
 * Composition styles
 */

/**
 * Utility styles
 */

/**
 * Block styles
 */
.overview {
  height: 100vh;
  padding-top: 25vh;
  text-align: center;
}

.overview > h1 {
  font-size: var(--step-1);
  font-weight: normal;
}

.overview > .summary {
  font-size: var(--step-5);
  font-weight: bold;
}

.button {
  align-items: center;
  background-color: #2C7A7B;
  box-shadow: 5px 5px rgba(0,0,0,0.6);
  border-radius: 0.5em;
  color: white;
  display: inline-flex;
  font-size: var(--step--1);
  font-weight: bold;
  padding: var(--step--2) var(--step--1);
  text-decoration: none;
  text-transform: uppercase;
}

.details-link {
  margin-top: var(--step-1);
}

.details-link > img {
  height: 0.75em;
  margin-left: 1ch;
}

.experience {
  align-items: flex-start;
  border-top: 1px solid black;
  display: grid;
  gap: var(--step--2);
  grid-template-areas:
    "name"
    "status"
    "photo"
    "info";
  padding: var(--step-0);
}

.experience:last-child {
  border-bottom: 1px solid black;
}

@media screen and (min-width: 1000px) {
  .experience {
    gap: var(--step-0);
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "photo name status"
      "photo info status";
    }
}

.photo {
  grid-area: photo;
}

.photo > img {
  border-radius: 1em;
}

.photo > figcaption {
  font-size: var(--step--2);
  font-style: italic;
}

.status {
  align-self: center;
  font-size: var(--step-4);
  font-weight: bold;
  grid-area: status;
  text-transform: uppercase;
}

body > footer {
  padding: var(--step-0);
  font-size: var(--step--2);
}

body > footer > * + * {
  margin-top: 1em;
}

body > footer > p:first-child {
  font-style: italic;
}

.meta-info {
  text-align: center;
}

/**
 * Exception styles
 */
[data-status="open"] {
  background-color: #C6F6D5;
}

[data-status="partially-open"] {
  background-color: #FEFCBF;
}

[data-status="closed"] {
  background-color: #FED7D7;
}
