<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ .Title }}</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏰</text></svg>">
  {{ template "_internal/opengraph.html" . -}}
  {{ template "_internal/schema.html" . -}}
  {{ template "_internal/twitter_cards.html" . -}}
  {{ $cssReset := resources.Get "css/reset.css" -}}
  <link rel="stylesheet" href="{{ $cssReset.RelPermalink }}">
  {{ $cssBase := resources.Get "css/base.css" -}}
  <link rel="stylesheet" href="{{ $cssBase.RelPermalink }}">
  {{ $cssSite := resources.Get "css/site.css" -}}
  <link rel="stylesheet" href="{{ $cssSite.RelPermalink }}">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  <section class="overview" data-status="{{ anchorize .Params.status }}">
    <h1>{{ .Title }}</h1>
    <p class="summary">{{ .Description }}</p>
    {{ $iconChevron := resources.Get "icons/chevron-down.svg" }}
    <a href="#details" class="details-link | button">
      See details
      <img src="{{ $iconChevron.RelPermalink }}" alt="" class="details-link__icon">
    </a>
  </section>
  <section id="details">
    {{ range where .Site.Pages.ByWeight "Section" "experiences" }}
    <article class="experience" data-status="{{ anchorize .Params.status }}">
        <h2>{{ .Title }}</h2>
        <p class="status">{{ .Params.status }}</h2>
        {{ with .Resources.GetMatch "photo" }}
          <figure class="photo">
            <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
            <figcaption>Image credit: <a href="{{ .Params.link }}">{{ .Params.author }}</a></figcaption>
          </figure>
        {{ end }}
        <div class="flow">
          {{ .Content }}
          {{ with .Params.opendate }}
            {{ $prefix := "Opening date" }}
            {{ if gt (time .) now }}
              {{ $prefix = "Anticipated opening date" }}
            {{ end }}
            <p>{{ $prefix }}: <time datetime="{{ . }}">{{ dateFormat "Jan 2, 2006" . }}</time></p>
          {{ else }}
            <p>Opening date: None announced</p>
          {{ end }}
          <p><a href="{{ .Params.info }}" class="button">More info</a></p>
        </div>
      </article>
    {{ end }}
  </section>
  <footer class="flow">
    {{ with .Site.GetPage "/disclaimer" }}
      {{ .Content }}
    {{ end }}
    <p class="meta-info">
      Last updated {{ .Date.Format "Jan 2, 2006" }}.
      <a href="{{ .Site.Params.repo }}">View source</a>.
    </p>
  </footer>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
