<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  {{ $cssReset := resources.Get "css/reset.css" }}
  <link rel="stylesheet" href="{{ $cssReset.RelPermalink }}">
</head>
<body>
  <h1>{{ .Title }}</h1>
  <p>{{ .Summary }}</p>
  <section>
    {{ range where .Site.Pages.ByWeight "Section" "experiences" }}
      <article>
        <h2>{{ .Title }}</h2>
        <p>{{ .Params.status }}</h2>
        {{ with .Params.opendate }}
          {{ $prefix := "Opening date" }}
          {{ if gt (time .) now }}
            {{ $prefix = "Anticipated opening date" }}
          {{ end }}
          <p>{{ $prefix }}: <time datetime="{{ . }}">{{ dateFormat "Jan 2, 2006" . }}</time></p>
        {{ else }}
          <p>Opening date: None announced</p>
        {{ end }}
        <p><a href="{{ .Params.info }}">More info</a></p>
      </article>
    {{ end }}
  </section>
  <footer>
    {{ with .Site.GetPage "/disclaimer" }}
      {{ .Content }}
    {{ end }}
  </footer>
</body>
</html>
