<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ .Title }}</title>
  {{ $cssReset := resources.Get "css/reset.css" }}
  <link rel="stylesheet" href="{{ $cssReset.RelPermalink }}">
  {{ $cssBase := resources.Get "css/base.css" }}
  <link rel="stylesheet" href="{{ $cssBase.RelPermalink }}">
  {{ $cssSite := resources.Get "css/site.css" }}
  <link rel="stylesheet" href="{{ $cssSite.RelPermalink }}">
</head>
<body>
  <section class="overview" data-status="{{ anchorize .Params.status }}">
    <h1>{{ .Title }}</h1>
    <p class="summary">{{ .Summary }}</p>
    {{ $iconChevron := resources.Get "icons/chevron-down.svg" }}
    <a href="#details" class="details-link | button">
      See details
      <img src="{{ $iconChevron.RelPermalink }}" alt="" class="details-link__icon">
    </a>
  </section>
  <section id="details">
    {{ range where .Site.Pages.ByWeight "Section" "experiences" }}
    <article data-status="{{ anchorize .Params.status }}">
        {{ with .Resources.GetMatch "photo" }}
        <img src="{{ .Permalink }}" alt="{{ .Title }}">
        {{ end }}
        <h2>{{ .Title }}</h2>
        <p>{{ .Params.status }}</h2>
        {{ with .Params.opendate }}
          {{ $prefix := "Opening date" }}
          {{ if gt (time .) now }}
            {{ $prefix = "Anticipated opening date" }}
          {{ end }}
          <p>{{ $prefix }}: <time datetime="{{ . }}">{{ dateFormat "Jan 2, 2006" . }}</time></p>
        {{ else }}
          <p>Opening date: None announced</p>
        {{ end }}
        <p><a href="{{ .Params.info }}" class="button">More info</a></p>
      </article>
    {{ end }}
  </section>
  <footer>
    {{ with .Site.GetPage "/disclaimer" }}
      {{ .Content }}
    {{ end }}
  </footer>
</body>
</html>
